:root {
    --green: 84, 222, 0;
    --dark-green: 60, 181, 0;
    --brown: 176, 123, 68;
    --dark-brown: 159, 120, 67;

    font-family: Arial, Helvetica, sans-serif;
}

/* General */
html {
    background-color: rgb(var(--brown), 1);
}

/* Nav */
nav {
    border: solid rgb(var(--dark-green), 1) 5px;
    background-color: rgb(var(--green), 1);
    /* padding: 1% 1% 1% 1%; */
    font-size: large;

}

.nav {
    position: relative;
    overflow: hidden;
    display: flex;
}

.nav h1 {
    margin-right: 5%;
    margin-left: 2%;
}

.nav a {
    text-align: center;
    padding: 30px;
    text-decoration: none;
    color: black;
    display: inline;
    text-align: center;
    flex: 1;
}

/* Main */
main {
    margin: 1%;
    padding-left: 1%;
    padding-right: 1%;
    border: solid rgb(var(--dark-green), 1) 5px;
    background-color: rgb(var(--green), 1);
    /* padding: 25px; */
}

h2, p{
    text-align: center;
}

.br{
    padding: 3px;
    background-color: black;
}

.contained{
    display: none;
    text-align: center;
    margin-top: 1%;
}

.contained img{
    width: 100px;
    height: 100px;
}

.contained button{
    border-radius: 10%;
    border: 5px solid rgb(var(--dark-brown), 0.5);
    background-color: rgb(var(--brown), 0.5);
    margin-top: 1%;
}

.contained button:hover{
    border-radius: 10%;
    border: 5px solid rgb(var(--dark-brown), 1);
    background-color: rgb(var(--brown), 1);
}

.dropdown{
    position: relative;
    overflow: hidden;
    display: flex;
}

#herospace{
    padding-left: 47%;
    padding-right: 47%;
}

#primaryspace{
    padding-left: 39%;
    padding-right: 39%;
}

#militaryspace{
    padding-left: 39%;
    padding-right: 39%;
}

.dropdown h2, button{
    flex: 1;
    text-align: center;
}

.dropdown button{
    padding-top: 3%;
    all: unset;
}

/* Footer */
footer {
    border: solid rgb(var(--dark-green), 1) 5px;
    background-color: rgb(var(--green), 1);
    padding: 1% 1% 1% 1%;
    font-size: large;
}

footer div {
    text-align: center;
}